{% extends 'base.html.twig' %}

{% block title %}Aghh! I mean, hello.{% endblock %}


{% block body %}

<div class="col-3">
    <div>
        <img src="{{ asset('build/images/math101.jpg') }}" class="math101" alt="math101">
    </div>
</div>

<div class="col">
    <h1>About Us</h1>
    <p>
        Some text
    </p>
</div>
{% endblock %}

